<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://solutions12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/95e59f7c-4849-44fe-b8be-2693115088c5/resourceGroups/test-rg1/providers/Microsoft.Web/sites/solutions12</ResourceId>
    <UserName>$solutions12</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://solutions12.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>